.login-link {
  color: #fff;
  text-align: center;
  margin-top: 1.5rem;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: color 0.2s;
}
.login-link:hover {
  color: #ff00e6;
  text-decoration: underline;
}

.form {
  padding: 2rem 2.5rem 2rem 2.5rem;
  margin: 1.5rem 0;
  border-radius: 18px;
  background: #171717;
  box-sizing: border-box;
}
