.form-section {
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  border-radius: 22px;
  background-image: linear-gradient(163deg, #ff00e6 0%, #614ab4 100%);
  box-sizing: border-box;
  height: auto !important;
  min-height: 0 !important;
  display: block;
}
.card2, .form {
  height: auto !important;
  min-height: 0 !important;
  margin: 0 !important;
  padding: 1.5 !important;

}
#heading {
  margin: 1em 0 !important;
}
a:hover{
color: linear-gradient(163deg, #ff00e6 0%, #614ab4 100%) !important;
}
a.login-link:hover {
  background: linear-gradient(163deg, #ff00e6 0%, #614ab4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}
